@model IndexEventViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-controller="Sport" asp-action="Index">
    <div>
        <label for="organizerFilter">Filter by Organizer:</label>
        <select id="organizerFilter" name="organizerId" asp-for="selectedOrganizerId" asp-items="@(new SelectList(Model.ReffOrganizer, "Id", "OrganizerName"))">
            <option value="0">All</option>
        </select>
        <button type="submit">Filter</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Event Type
            </th>
            <th>
                Event Name
            </th>
            <th>
                Event Date
            </th>
            <th>
                Organizer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organizer.OrganizerName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    Page @(Model.Meta.Pagination.CurrentPage) of @(Model.Meta.Pagination.TotalPages)
</div>
<div>
    @for (int i = 1; i <= Model.Meta.Pagination.TotalPages; i++)
    {
        if (Model.Meta.Pagination.CurrentPage == i)
        {
            <label>@i.ToString()</label>
        }
        else
        {
            @Html.ActionLink(i.ToString(), "Index", new { page = i });
        }
        <label>|</label>
    }
</div>
